  <!-- Libs JS -->
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="/assets/libs/prismjs/prism.js"></script>
<script src="/assets/libs/leaflet/dist/leaflet.js"></script>
<script src="/assets/libs/litepicker/dist/litepicker.js"></script>
<script src="/assets/libs/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
<script src="/assets/libs/inputmask/dist/jquery.inputmask.min.js"></script>
<script src="/assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>


<!-- clipboard -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>



<!-- Theme JS -->
<script src="/assets/js/theme.min.js"></script>


  <script id="offline-scroll">
    document.addEventListener('click', function(e) {
      var link = e.target.closest('a[href^="#"]');
      if (!link) return;
      var id = link.getAttribute('href').slice(1);
      if (!id) { window.scrollTo({top:0,behavior:'smooth'}); e.preventDefault(); return; }
      var target = document.getElementById(id) || document.querySelector('[data-anchor="'+id+'"]');
      if (target) { target.scrollIntoView({behavior:'smooth'}); e.preventDefault(); }
    });
  </script>
